{% extends 'base.html' %}

{% block content %}
    <div id="chatPanel" class="panel panel-info">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-globe"></span> AdminChatRoom (You: Green / Customer: Blue) </strong>
        </div>
        <div id="msg-list-div" class="panel-body fixed-panel">
            <ul id="msg-list" class="media-list">
                {% for message in messages %}
                    {% if message.user == request.user %}
                        <li class="media"><div class="media-body"><div class="media"><div style = "text-align:right; color : green" class="media-body"> {{ message.content }} <hr/></div></div></div></li>
                    {% else %}
                        <li class="media"><div class="media-body"><div class="media"><div style = "color : blue" class="media-body">{{ message.content }}<hr/></div></div></div></li>
                    {% endif %}
                {% endfor %}
                <script>
                    var chatList = document.getElementById('msg-list-div');
                    chatList.scrollTop = chatList.scrollHeight;
                </script>
            </ul>
        </div>
        <div class="panel-footer">
            <form method="post" id="chatbot-form">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12" style="padding:5px;"><input type="text" class="form-control" placeholder="Enter Message" name="messageText" id="messageText" autofocus/></div>
                    <div class="col-md-2 col-sm-12 col-xs-12" style="padding:5px;"><button class="btn btn-info btn-block" type="button" id="chatbot-form-btn">Send <span class="glyphicon glyphicon-pencil"></span></button></div>
                    <div class="col-md-2 col-sm-12 col-xs-12" style="padding:5px;"><button class="btn btn-info btn-block" type="button" id="chatbot-form-btn-clear">Clear <span class="glyphicon glyphicon-erase"></span></button></div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body fixed-panel row">
            <div class="col-md-2 col-md-offset-10 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0" style="padding:5px;"><button id="exit-room" class="btn btn-info btn-block" type="button">EXIT <span class="glyphicon glyphicon-log-out"></span></button></div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body fixed-panel">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div id="text1drop" class="dropdown">
                        <button class="btn btn-info dropdown-toggle" value = "en" type="button" id="language-menu" data-toggle="dropdown">English <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="language-menu">
                            <li role="presentation"><a href="" role="menuitem" value = "en" tabindex="-1">English</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "af" tabindex="-1">Afrikaans</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ar" tabindex="-1">Arabic</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "apc" tabindex="-1">Arabic, Levantine</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "bn" tabindex="-1">Bangla</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "bs" tabindex="-1">Bosnian(Latin)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "bg" tabindex="-1">Bulgarian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "yue" tabindex="-1">Cantonese (Traditional)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ca" tabindex="-1">Catalan</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "zh-Hans" tabindex="-1">Chinese Simplified</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "zh-Hant" tabindex="-1">Chinese Traditional</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "hr" tabindex="-1">Croatian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "cs" tabindex="-1">Czech</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "da" tabindex="-1">Danish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "nl" tabindex="-1">Dutch</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "et" tabindex="-1">Estonian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fj" tabindex="-1">Fijian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fil" tabindex="-1">Filipino</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fi" tabindex="-1">Finnish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fr" tabindex="-1">French</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "de" tabindex="-1">German</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "el" tabindex="-1">Greek</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ht" tabindex="-1">Haitian Creole</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "he" tabindex="-1">Hebrew</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "hi" tabindex="-1">Hindi</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "mww" tabindex="-1">Hmong Daw</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "hu" tabindex="-1">Hungarian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "is" tabindex="-1">Icelandic</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "id" tabindex="-1">Indonesian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "it" tabindex="-1">Italian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ja" tabindex="-1">Japanese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sw" tabindex="-1">Kiswahili</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "tlh" tabindex="-1">Klingon</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "tlh-Qaak" tabindex="-1">Klingon (plqaD)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ko" tabindex="-1">Korean</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "lv" tabindex="-1">Latvian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "lt" tabindex="-1">Lithuanian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "mg" tabindex="-1">Malagasy</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ms" tabindex="-1">Malay</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "mt" tabindex="-1">Maltese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "nb" tabindex="-1">Norwegian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fa" tabindex="-1">Persian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "pl" tabindex="-1">Polish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "pt" tabindex="-1">Portuguese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "otq" tabindex="-1">Queretaro Otomi</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ro" tabindex="-1">Romanian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ru" tabindex="-1">Russian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sm" tabindex="-1">Samoan</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sr-Cyrl" tabindex="-1">Serbian (Cyrillic)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sr-Latn" tabindex="-1">Serbian (Latin)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sk" tabindex="-1">Slovak</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sl" tabindex="-1">Slovenian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "es" tabindex="-1">Spanish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sv" tabindex="-1">Swedish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ty" tabindex="-1">Tahitian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ta" tabindex="-1">Tamil</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "te" tabindex="-1">Telugu</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "th" tabindex="-1">Thai</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "to" tabindex="-1">Tongan</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "tr" tabindex="-1">Turkish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "uk" tabindex="-1">Ukrainian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "te" tabindex="-1">Urdu</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "vi" tabindex="-1">Vietnamese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "cy" tabindex="-1">Welsh</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "yua" tabindex="-1">Yucatec Maya</a></li>
                        </ul>
                    </div>
                    <textarea id="text1" style="width: 100%; height: 200px;"></textarea>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 hidden-sm hidden-xs" style="padding:10px;">
                            <button id="righttranslate" class="btn btn-info btn-block" type="button" style="margin-top:80px;"><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                        <div class="col-md-12 hidden-sm hidden-xs" style="padding:10px;">
                            <button id="lefttranslate" class="btn btn-info btn-block" type="button"><span class="glyphicon glyphicon-arrow-left"></span></button>
                        </div>
                        <div class="hidden-md hidden-lg col-xs-2 col-xs-offset-4 col-sm-2 col-sm-offset-4" style="padding:10px;">
                            <button id="righttranslate_m" class="btn btn-info btn-block" type="button"><span class="glyphicon glyphicon-arrow-down"></span></button>
                        </div>
                        <div class="hidden-md hidden-lg col-xs-2 col-xs-offset-0 col-sm-2 col-sm-offset-0" style="padding:10px;">
                            <button id="lefttranslate_m" class="btn btn-info btn-block" type="button"><span class="glyphicon glyphicon-arrow-up"></span></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div id="text2drop" class="dropdown">
                        <button class="btn btn-info dropdown-toggle" value = "en" type="button" id="language-menu" data-toggle="dropdown">English <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="language-menu">
                            <li role="presentation"><a href="" role="menuitem" value = "en" tabindex="-1">English</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "af" tabindex="-1">Afrikaans</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ar" tabindex="-1">Arabic</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "apc" tabindex="-1">Arabic, Levantine</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "bn" tabindex="-1">Bangla</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "bs" tabindex="-1">Bosnian(Latin)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "bg" tabindex="-1">Bulgarian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "yue" tabindex="-1">Cantonese (Traditional)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ca" tabindex="-1">Catalan</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "zh-Hans" tabindex="-1">Chinese Simplified</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "zh-Hant" tabindex="-1">Chinese Traditional</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "hr" tabindex="-1">Croatian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "cs" tabindex="-1">Czech</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "da" tabindex="-1">Danish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "nl" tabindex="-1">Dutch</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "et" tabindex="-1">Estonian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fj" tabindex="-1">Fijian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fil" tabindex="-1">Filipino</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fi" tabindex="-1">Finnish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fr" tabindex="-1">French</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "de" tabindex="-1">German</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "el" tabindex="-1">Greek</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ht" tabindex="-1">Haitian Creole</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "he" tabindex="-1">Hebrew</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "hi" tabindex="-1">Hindi</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "mww" tabindex="-1">Hmong Daw</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "hu" tabindex="-1">Hungarian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "is" tabindex="-1">Icelandic</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "id" tabindex="-1">Indonesian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "it" tabindex="-1">Italian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ja" tabindex="-1">Japanese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sw" tabindex="-1">Kiswahili</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "tlh" tabindex="-1">Klingon</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "tlh-Qaak" tabindex="-1">Klingon (plqaD)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ko" tabindex="-1">Korean</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "lv" tabindex="-1">Latvian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "lt" tabindex="-1">Lithuanian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "mg" tabindex="-1">Malagasy</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ms" tabindex="-1">Malay</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "mt" tabindex="-1">Maltese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "nb" tabindex="-1">Norwegian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "fa" tabindex="-1">Persian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "pl" tabindex="-1">Polish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "pt" tabindex="-1">Portuguese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "otq" tabindex="-1">Queretaro Otomi</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ro" tabindex="-1">Romanian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ru" tabindex="-1">Russian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sm" tabindex="-1">Samoan</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sr-Cyrl" tabindex="-1">Serbian (Cyrillic)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sr-Latn" tabindex="-1">Serbian (Latin)</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sk" tabindex="-1">Slovak</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sl" tabindex="-1">Slovenian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "es" tabindex="-1">Spanish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "sv" tabindex="-1">Swedish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ty" tabindex="-1">Tahitian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "ta" tabindex="-1">Tamil</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "te" tabindex="-1">Telugu</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "th" tabindex="-1">Thai</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "to" tabindex="-1">Tongan</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "tr" tabindex="-1">Turkish</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "uk" tabindex="-1">Ukrainian</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "te" tabindex="-1">Urdu</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "vi" tabindex="-1">Vietnamese</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "cy" tabindex="-1">Welsh</a></li>
                            <li role="presentation"><a href="" role="menuitem" value = "yua" tabindex="-1">Yucatec Maya</a></li>
                        </ul>
                    </div>
                    <textarea id="text2" style="width: 100%; height: 200px;"></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}   
{% block script %}
    <script>
        $('#righttranslate').click(function(e) {
            e.preventDefault();
            var req = 'src='+$("#text1drop .btn").attr('value')+'&tg='+$("#text2drop .btn").attr('value')+'&text='+$("#text1").val();
            //alert(req);
            $.ajax({
                type: "POST",
                url: "/service/translate/",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: req,
                success: function(response) {
                    result = response.result;
                    //alert(result);
                    $('#text2').val(result);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $('#righttranslate_m').click(function(e) {
            e.preventDefault();
            var req = 'src='+$("#text1drop .btn").attr('value')+'&tg='+$("#text2drop .btn").attr('value')+'&text='+$("#text1").val();
            //alert(req);
            $.ajax({
                type: "POST",
                url: "/service/translate/",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: req,
                success: function(response) {
                    result = response.result;
                    //alert(result);
                    $('#text2').val(result);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $('#lefttranslate').click(function(e) {
            e.preventDefault();
            var req = 'src='+$("#text2drop .btn").attr('value')+'&tg='+$("#text1drop .btn").attr('value')+'&text='+$("#text2").val();
            //alert(req);
            $.ajax({
                type: "POST",
                url: "/service/translate/",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: req,
                success: function(response) {
                    result = response.result;
                    //alert(result);
                    $('#text1').val(result);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $('#lefttranslate_m').click(function(e) {
            e.preventDefault();
            var req = 'src='+$("#text2drop .btn").attr('value')+'&tg='+$("#text1drop .btn").attr('value')+'&text='+$("#text2").val();
            //alert(req);
            $.ajax({
                type: "POST",
                url: "/service/translate/",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: req,
                success: function(response) {
                    result = response.result;
                    //alert(result);
                    $('#text1').val(result);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        function exitRoom(){
            $.ajax({
                type: "POST",
                url: "/exitroom/",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {},
                success: function(response) {
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        $(function() {
            $("#exit-room").click(function(e) {
                exitRoom();
                event.preventDefault();
                history.back(1);
            });
            $(".dropdown-menu li a").click(function(e){
                e.preventDefault();
                $(this).parents(".dropdown").find(".btn").html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find(".btn").attr('value', $(this).attr('value'));
            });
            $('#chatbot-form-btn').click(function(e) {
                e.preventDefault();
                $('#chatbot-form').submit();
            });
            $('#chatbot-form-btn-clear').click(function(e) {
                e.preventDefault();
                // $('#chatPanel').find('.media-list').html('');
                $.ajax({
                    type: "POST",
                    url: "/service/{{ pk }}/messageclear/",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {},
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            $('#chatbot-form').submit(function(e) {
                e.preventDefault();
                var message = $('#messageText').val();
                // $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "text-align:right; color : green" class="media-body">' + message + '<hr/></div></div></div></li>');
                var req = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "/service/{{ pk }}/sendmessage/",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: req,
                    success: function(response) {
                        $('#messageText').val('');
                        // var answer = response.answer;
                        // const chatPanel = document.getElementById("chatPanel");
                        // $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "color : blue" class="media-body">' + answer + '<hr/></div></div></div></li>');
                        // $(".fixed-panel").stop().animate({ scrollTop: $(".fixed-panel")[0].scrollHeight}, 1000);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
        function getMessages(){
            if(!scrolling) {
                $.get('/service/{{ pk }}/messages/', function(messages){
                    $('#msg-list').html(messages);
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                });
            }
            scrolling = false;
        }
        var scrolling = false;
        $(function(){
            $('#msg-list-div').on('scroll', function(){
                scrolling = true;
            });
            refreshTimer = setInterval(getMessages, 500);
        });
    </script>
{% endblock %}
