<div class="col-md-6 col-sm-12 col-xs-12 panel-body fixed-panel">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4><span class="glyphicon glyphicon-globe"></span> Opened Rooms</h4>
        </div>
        <div class="panel-body fixed-panel">         
            <div id="chattingroom" class="list-group">
                {% if livechatrooms.count > 0 %}
                    {% for room in livechatrooms %}
                        <a href="{% url 'selectedroom' pk=room.pk %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-eye-open"></span> {{ room.alias }}</a>
                    {% endfor %}
                {% else %}
                    <a href="{% url 'adminchatroom' %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-search"></span> there is no chatting room</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 panel-body fixed-panel">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4><span class="glyphicon glyphicon-globe"></span> Customers</h4>
        </div>
        <div class="panel-body fixed-panel">         
            <div id="chattingroom" class="list-group">
                {% if customers.count > 0 %}
                    {% for customer in customers %}
                        {% if customer.is_authenticated %}
                            <a href="{% url 'offerchat' customer=customer.username %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-modal-window"></span> {{ customer.username }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <a href="{% url 'adminchatroom' %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-search"></span> there is no logined customer</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
