{% load static %}
<script>
    $("#themedrop .dropdown-menu li a").click(function(e){
        e.preventDefault();
        $(this).parents(".dropdown").find(".btn").html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find(".btn").attr('value', $(this).attr('value'));
        themeurl = themes[$(this).text()]; 
        $.ajax({
            type: "POST",
            url: "/service/changetheme/",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data:  "theme=" + $(this).text(),
            success: function(response) {
                console.log(response);
                themesheet.attr('href', themeurl);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>